{erl_opts, [{src_dirs, [src]},
           {parse_transform, lager_transform}]}.

{deps, [
	{riakc, ".*", {git, "git@github.com:basho/riak-erlang-client.git", {tag, "2.3.2-timeseries"}}},
	{profiler, ".*", {git, "git@github.com:erikleitch/profiler.git"}},
	{lager, ".*", {git, "git@github.com:basho/lager.git"}}
]}.

{escript_incl_apps, [
	lager
]}.